 body {
    font-family  arial, sans-serif;
      background-color: #e8a1a1;
      text-align: center;
      margin-top: 100px;
 }

    #clock {
        font-size: 40px;
      font-weight: bold;
      color: #333;
    }
      
